<h1 class="title">{{label}}</h1>

<div class="description">
  <h3>Introduction</h3>
  <ul>
    <li><p>Double-cliquez le texte pour modifier son contenue</p></li>
    <li><p>Annuler / Refaire : <code>Control + z</code> / <code>Control + Shift + z</code></p></li>
  </ul>
</div>

<section class="todoapp">
  <header class="header">
    <form (submit)="appendItem(newTodoInput);">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
    <app-speech-to-text></app-speech-to-text>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="setDoneAllItems()"
    />
    <ul class="todo-list">
      <app-todo-item></app-todo-item>
    </ul>
  </section>
  <div class="footer">
    <span class="todo-count"><strong>{{todoCount}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'all') ? 'filterAll selected' : 'filterAll'" (click)="itemShow('all')">Tous</a>
      </li>
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'active') ? 'filterActives selected' : 'filterActives'" (click)="itemShow('active')">Actifs</a>
      </li>
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'complet') ? 'filterCompleted selected' : 'filterCompleted'" (click)="itemShow('complet')">Complétés</a>
      </li>
    </ul>
    <button *ngIf="todoService.todoListExistItem" class="clear-completed" (click)="itemAllRemove()">Supprimer touts</button>
    <button *ngIf="todoService.todoListExistItemDone" class="clear-completed" (click)="itemDoneRemove()">Supprimer terminés</button>
  </div>
</section>
