<section class="todoapp">
  <header class="header">
    <h1>{{label}}</h1>
    <form (submit)="appendItem(newTodoInput);">
      <input  #newTodoInput
              name        = "newTodoInput"
              class       = "new-todo"
              placeholder = "Que faire?"
              autofocus />
    </form>
  </header>
  <section class="main">
    <input  class="toggle-all"
            type="checkbox"
            name="toggleAll"
            (click)="setDoneAllItems()"
    />
    <ul class="todo-list">
      <app-todo-item></app-todo-item>
    </ul>
  </section>
  <footer class="footer">
    <span class="todo-count"><strong>{{todoCount}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'all') ? 'filterAll selected' : 'filterAll'" (click)="itemShow('all')">Tous</a>
      </li>
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'active') ? 'filterActives selected' : 'filterActives'" (click)="itemShow('active')">Actifs</a>
      </li>
      <li>
        <a [ngClass]="(todoService.todoListFiltreStatus === 'complet') ? 'filterCompleted selected' : 'filterCompleted'" (click)="itemShow('complet')">Complétés</a>
      </li>
    </ul>
    <button *ngIf="todoService.todoListExistItem" class="clear-completed" (click)="itemAllRemove()">Supprimer touts</button>
    <button *ngIf="todoService.todoListExistItemDone" class="clear-completed" (click)="itemDoneRemove()">Supprimer terminés</button>
  </footer>
</section>
