<app-todo-list></app-todo-list>

<div class="google-map">
    <h2>Google Map</h2>
    <p>La localisation a des erreurs moyennes car je n'ai pas facturé ce projet sur Google Cloud Projet</p>
    <p><strong>Votre Latitude:  </strong><em>{{lat}}</em></p>
    <p><strong>Votre Longitude:  </strong><em>{{lng}}</em></p>
    <br/>
    <div #googleMapContainer id="map" style="height: 500px;"></div>
</div>

<footer>
    <div class="author">
       <p>Projet Angular - Florian Rodriguez par Zhao ZHANG</p>
    </div>
</footer>
