<li *ngFor="let item of items; let index = index; ">
      <div [ngClass]="(item.isDone === true) ? 'view completed' : 'view'">
        <input class="toggle"
               type="checkbox"
               name="fait"
               [ngModel]="item.isDone"
               (ngModelChange)="itemDone(item, $event)"
        />
        <label (dblclick)="editMode(newLab, $event)">{{item.label}}</label>
        <input #newLab
               class = "hidden"
               value   = {{item.label}}
               (blur)="viewMode(item, newLab)"
               (keydown.enter)="newLab.blur()"
        />
        <button class="destroy" (click)="itemRemove(item)"></button>
      </div>
</li>
